/* For the bar chart */
.bar {
  fill: #00b9ff !important;
  width: 5rem !important;
}

.bar:hover {
  fill: brown !important;
}

.axis {
  font-size: 14px !important;
  text-transform: capitalize;
}

.axis path,
.axis line {
  fill: none !important;
  stroke: #000 !important;
  shape-rendering: crispEdges !important;
}

.x.axis path {
  display: none !important;
}
/* For the bar chart */
